	#main{
		  position: absolute;
		  top: 0;
		  left: 0;
		  z-index: 1;
		  width: 100%;
		  height: 100%;
		  background: #a6d900;
		  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #a6d900), color-stop(100%, #ff4454));
		  background: -webkit-linear-gradient(top, #a6d900 0%, #ff4454 100%);
		  background: -webkit-gradient(linear, left top, left bottom, from(#a6d900), to(#ff4454));
		  background: linear-gradient(to bottom, #a6d900 0%, #ff4454 100%);
		  content: '';
		  opacity: 0.7;
		  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#a6d900', endColorstr='#ff4454', GradientType=0);
		  -webkit-animation: huerotator 2s infinite alternate , apair 2s 1 ease forwards ;
		  z-index: 200;
	      -ms-transform: scale(0);  
		  -webkit-transform: scale(0); 
		  transform: scale(0);
	}



	@-webkit-keyframes huerotator {
		  0% {
		    -webkit-filter: hue-rotate(0deg);
		
		  }

		  100% {
		    -webkit-filter: hue-rotate(360deg);
		
		  }
	}


	@-webkit-keyframes apair{
		
		100%{
			    -ms-transform: scale(1);  
			-webkit-transform: scale(1); 
			transform: scale(1);
		}
	}


	#main:after{
		z-index: 100;
		position: absolute;
		left: 0;
		right: 0;
		margin: 0 auto;
		top: 0;
		background-size: cover;
		display: block;
		width: 100%;
		height: 100%;
		opacity: 0.4;
		content: "";
		background: url("opa.jpg") no-repeat;

	}